@import './variables.scss';

@mixin formsProperty($height) {
    margin: 140px auto;
    text-align: center;
    border: 1px solid #b4a9a9;
    border-radius: 15px;
    width: 340px;
    height: $height;
    font-family: Arial, Helvetica, sans-serif;
}

@mixin flexDirection {
    display: flex;
    flex-direction: column;
}

@mixin formTitle {
    font-size: 16px;
    margin-top: 50px;
}

@mixin stylesForms($marginT, $margInp) {
    
    label {
        font-size: 12px;
        color: #999999;
        text-align: start;
        margin: 15px 15px 0 15px;
        float: left;
    }

    input {
        font-size: 15px;
        padding: 5px 0;
        margin: $margInp;
        border: 0;
        border-bottom: 1px solid blue;

        &:focus {
            outline: none;
        }
    }

    button {
        margin: 0px auto;
        width: 280px;
        height: 37px;
        background-color: $colorBlue;
        border: inherit;
        border-radius: 8px;
    }

    .button-blue {
        color: #fff;
        margin-top: $marginT;
        transition: font-size 0.3s ease;

        &:hover {
            font-size: 15px;
            transition: font-size 0.3s ease;
        }
    }
    .button-notblue {
        background-color: inherit;
        color: $colorBlue;
        transition: font-size 0.3s ease;

        &:hover {
            font-size: 15px;
            transition: font-size 0.3s ease;
        }
    }
}
