@import '../../styles/mixinsProfile.scss';
@import '../../styles/variables.scss';

.error__info {
    display: flex;
    align-content: center;
    margin-top: 250px;
    font-family: $fontFamily;

    div {
        margin: auto;
        text-align: center;

        h1 {
            font-size: 75px;
            margin: 5px 0;
        }
        span {
            display: block;
            font-size: 30px;
        }

        .button__back {
            margin-top: 50px;
            border: 0;
            background-color: transparent;
            color: $colorBlue;

            &:hover {
                @include buttonTransform;
            }
        }
    }
}
